<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Snappit</title>
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/icons.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="title">
            <h1>Snapp<span>it</span></h1>

        </div>
        <div id="notif">
            <div class="notif" id="notifsaving">
                <span>Saving</span><i class="snap-loader"></i>
            </div>
            <div class="notif" id="notifsaved">
                <span>Saved</span><i class="snap-check"></i>
            </div>
            <div class="notif" id="notiferror">
                <span>Network Error</span><i class="snap-exclamation"></i>
            </div>
            <div class="notif" id="notiferror2">
                <span>Error: Unable to Save</span><i class="snap-exclamation"></i>
            </div>
            <div class="notif" id="notifunsaved">
                <span>Unsaved Changes</span><i class="snap-exclamation"></i>
            </div>

            <div id="locked" <%if(snip.lock.lockType==0){%>style="display:none" <% } %>>
                Read Only
            </div>
        </div>
        <div style="clear:both"></div>
        <div class="tools">
        <ul>
            <li><a href="#" for="newsnap" alt="New"><i class="snap-plus"></i></a></li>
            <li><a href="#" for="locksnap" alt="Lock"><i class="snap-lock"></i></a></li>
            <li><a href="#" for="sharesnap" alt="Share"><i class="snap-share"></i></a></li>
            <li><a href="#" alt="Settings"><i class="snap-sliders"></i></a></li>
            <li><a href="#" alt="Help"><i class="snap-help"></i></a></li>
            <li><a href="#" for="deletesnap" alt="Delete"><i class="snap-cross"></i></a></li>
        </ul>

        <div class="popup" id="newsnap">
            <span class="popup-close">X</span>
            <h4>New Snap</h4>
            <form onsubmit="newSnap(event)">
                <div class="input-group">
                    <span class="input-group-addon">http://<%=baseUrl%>/</span>
                    <input id="locksnapinput" type="text" placeholder="Enter Url Suffix"/>
                    <button type="submit" class="input-group-addon">Go</button>
                </div>             
            </form>
        </div>
        <div class="popup" id="locksnap">
            <span class="popup-close">X</span>
            <h4>Lock Snap</h4>
            <form onsubmit="lockSnap(event)">
                <div class="radioinputs">
                    <div><input type="radio" name="locksnap-op1" id="lock1"><label for="lock1">Read Only</label></div>
                    <div><input type="radio" name="locksnap-op1" id="lock2"><label for="lock2">Exclusive Lock</label></div>
                    <div><input type="radio" name="locksnap-op1" id="lock0"><label for="lock0">No Lock</label></div>
                </div>
                <div class="input-group">
                    <input id="locknapinput" type="password" placeholder="Enter Password"/>
                    <button type="submit" class="input-group-addon">Go</button>
                </div>     
            </form>
        </div>
        <div class="popup" id="sharesnap">
            <span class="popup-close">X</span>
            <h4>Share this snap</h4>
            <input type="text" class="form-control" readonly value="<%=url%>" onclick="this.select()"/>
            <div class="sharebuttons">
                <a href="https://www.facebook.com/sharer/sharer.php?u=<%=url%>" target="_blank" icon="fb" alt="Share Via Facebook"><i class="snap-facebook"></i></a>
                <a target="_blank" href="https://twitter.com/home?status=%23snappit%20%40snappit_net%0AMy%20note%20:%0A<%=url%>" icon="tw" alt="Tweet"><i class="snap-twitter"></i></a>
                <a target="_blank" href="https://plus.google.com/share?url=<%=url%>" icon="gp" alt="Share via Google Plus"><i class="snap-gplus"></i></a>
                <a target="_blank" href="mailto:?subject=Shared Note via Snappit&body=Hi,%0AView%20my%20note%0A<%=url%>" icon="ml" alt="Email this link"><i class="snap-mail"></i></a>
            </div>
        </div>
        <div class="popup" id="deletesnap">
            <span class="popup-close">X</span>
            <h4>Are you Sure?</h4>
            <button class="input-group-addon" onclick='window.location="/delete<%=snip.url%>"'>Yes</button>
            <button class="input-group-addon" onclick="popup.fadeOut()">No</button>
        </div>

        </div>
    </header>
    <section id="mainbody">
        <section id="main">
            <h3>Save Notes</h3>
            <div id="divnote">
                <textarea id="note"><% if(!isNew){ %><%=snip.note%><% } %></textarea>
            </div>
        </section>
        <section id="side">
            <h3>Save Links</h3>
            <div id="divlinks">
                <div id="links">
                <%snip.urls&&snip.urls.forEach(function(v,i){%>
                    <div data-delid="<%=i%>">
                        <a href="<%=v.link%>" target="_blank" data-link="<%=v.link%>" data-label="<%=v.label%>"><%=v.label%><i class="snap-cross" onclick="deleteLink(event,<%=i%>)"></i></a>
                    </div>
                <% });%>
                </div>
                <form id="urlform">
                    <h4>New Link</h4>
                    <input type="text" id="labelinput" placeholder="Link Label" />
                    <input type="text" id="urlinput" placeholder="Enter Link" />
                    <button type="submit">Add Link</button>
                </form>
            </div>
        </section>
    </section>
    <script src="/js/jquery.min.js"></script>
    <script>
        var url = '<%=snip.url%>';
        var lockType = <%=snip.lock.lockType%>
        var delid = '<%=snip&&snip.urls&&snip.urls.length || 0 %>';
        var lastUpdate = new Date;
        var changed = false;
        var noteForm = $('#note')
        var urlForm = $('#urlform')
        var urlInput =  $('#urlinput')
        var labelInput = $('#labelinput')
        var links = $('#links')
        var saving = $('#notifsaving')
        var saved = $('#notifsaved')
        var error = $('#notiferror')
        var error2 = $('#notiferror2')
        var unsaved = $('#notifunsaved')
        var notif = $('.notif')
        var popup = $('.popup')
        var newSnapIn = $('#newsnapinput')
        var noteAutosubmit

        $('#lock'+lockType).attr('checked',1)

        var refreshNote = function(){
            var data = {url:url}
            data.note = noteForm.val() || '';
            if(noteAutosubmit)
                clearTimeout(noteAutosubmit)
            noteAutosubmit = setTimeout(function(){
                update(data)
            },3000)
        }
        urlForm.submit(function(event){
            console.log('submit')
            event.preventDefault();
            addLink();
            refreshUrl();
        });

        var deleteLink = function(event,id){
            event.preventDefault();
            $('[data-delid='+id+']').detach();
            refreshUrl();
        }

        var addLink = function(){
            var u = urlInput.val();
            var l = labelInput.val();
            if(!l) l=u;
            if(!u) return;
            var d = $('<div></div');
            var di = $('<a>'+l+'</a>');
            var dii = $('<i></i>');
            dii.attr('class','snap-cross');
            dii.attr('onclick','deleteLink(event,'+delid+')');
            d.attr('data-delid',delid++);
            di.attr('href',u);
            di.attr('data-label',l);
            di.attr('data-link',u);
            di.attr('target','_blank')
            di.append(dii);
            d.append(di);
            links.append(d);
            urlform.reset();
        }

        var refreshUrl = function(){
            var allLinks = $('#links div a');
            var data = {url:url,urls:[]}
            $.each(allLinks,function(key,a){
                data.urls.push({
                    label:$(a).data('label'),
                    link:$(a).data('link')
                });
            });
            if(!data.urls.length){
                data.urls = [{
                    empty:true
                }]
            }
            update(data)
        }
        var update = function(data){
            if(lockType!=0&&!data.unlockPass)
                return;
            notif.hide();
            saving.show();
            var up = $.post('/save',data,function(data){
                console.log(data)
                lastUpdate = new Date;
                changed = false;
                if(saving.is(':hidden'))
                    return;
                notif.slideUp();
                if(data.code==0)
                    saved.slideDown();
                else
                    error2.slideDown();
                setTimeout(function(){
                    if(!saved.is(':hidden'))
                        saved.fadeOut()
                },5000);
             });
            up.fail(function(){
                notif.slideUp();
                error.slideDown();
                console.log('Something went wrong')
            });
        }
        note.oninput = function(){
            if(lockType!=0)
                return;
            if(unsaved.is(':hidden')){
                notif.hide();
                unsaved.slideDown();}
            changed = true;
            refreshNote();
        }
        setInterval(refreshNote,5000);

        $('.popup-close').click(function(){
            popup.fadeOut()
        });

        var newSnap = function(event){
            event.preventDefault();
            var url = newSnapIn.val();
            window.location = '/'+url;
        }
        $('.tools ul li a').click(function(event){
            event.preventDefault();
            var popupId = $(this).attr('for');
            popup.fadeOut()
            if($('#'+popupId).is(':hidden'))
                $('#'+popupId).fadeIn();
        })

    </script>
</body>

</html>
